# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Distribution / Packaging
build/
dist/
*.egg-info/
